@charset "UTF-8";
.crop_workstation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
}
.crop_workstation .crop_desktop {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}
.crop_workstation .crop_desktop .crop_plateImage {
  position: absolute;
  cursor: move;
}
.crop_workstation .crop_desktop .crop_plateImage img {
  display: block;
}
.crop_workstation .crop_desktop .crop_cropFrame {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 200px;
  height: 200px;
}
.crop_workstation .crop_desktop .crop_cropFrame .tooltip_box {
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  border-radius: 6px;
  padding: 4px 6px;
  left: calc(100% + 10px);
  bottom: 10px;
  background-color: #191822;
  color: #fff;
}
.crop_workstation .crop_desktop .crop_cropFrame .tooltip_box .key {
  display: inline-block;
  width: 10px;
  text-align: right;
}
.crop_workstation .crop_desktop .crop_cropFrame .fill_box {
  position: absolute;
  width: 100%;
  height: 100%;
}
.crop_workstation .crop_desktop .crop_cropFrame .fill_box .horizontal {
  top: 33.33%;
  position: absolute;
  width: 100%;
  height: 33.333%;
  border-top: 1px dashed #eee;
  border-bottom: 1px dashed #eee;
}
.crop_workstation .crop_desktop .crop_cropFrame .fill_box .vertical {
  left: 33.33%;
  position: absolute;
  height: 100%;
  width: 33.333%;
  border-left: 1px dashed #eee;
  border-right: 1px dashed #eee;
}
.crop_workstation .crop_desktop .crop_cropFrame .inline-dot_box .inline-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #39f;
}
.crop_workstation .crop_desktop .crop_cropFrame .inline-dot_box .inline-dot.left {
  left: -2px;
  top: calc(50% - 2px);
}
.crop_workstation .crop_desktop .crop_cropFrame .inline-dot_box .inline-dot.right {
  right: -2px;
  top: calc(50% - 2px);
}
.crop_workstation .crop_desktop .crop_cropFrame .inline-dot_box .inline-dot.top {
  top: -2px;
  left: calc(50% - 2px);
}
.crop_workstation .crop_desktop .crop_cropFrame .inline-dot_box .inline-dot.bottom {
  bottom: -2px;
  left: calc(50% - 2px);
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #39f;
  cursor: move;
  /*四个方向*/
  /*四个角*/
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box > * {
  position: absolute;
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box [class^=resize_line] {
  opacity: 0.1;
  background-color: #39f;
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box [class^=resize_corner] {
  width: 7px;
  height: 7px;
  background-color: #39f;
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box .resize_line_left {
  height: 100%;
  width: 7px;
  left: -4px;
  cursor: ew-resize;
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box .resize_line_right {
  height: 100%;
  width: 7px;
  right: -4px;
  cursor: ew-resize;
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box .resize_line_bottom {
  width: 100%;
  height: 7px;
  bottom: -4px;
  cursor: ns-resize;
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box .resize_line_top {
  width: 100%;
  height: 7px;
  top: -4px;
  cursor: ns-resize;
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box .resize_corner_top_left {
  left: -4px;
  top: -4px;
  cursor: nwse-resize;
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box .resize_corner_bottom_right {
  right: -4px;
  bottom: -4px;
  cursor: nwse-resize;
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box .resize_corner_bottom_left {
  left: -4px;
  bottom: -4px;
  cursor: nesw-resize;
}
.crop_workstation .crop_desktop .crop_cropFrame .cover-child_box .resize_corner_top_right {
  right: -4px;
  top: -4px;
  cursor: nesw-resize;
}